<div>
  <div class="submit-form">
    @if (!submitted) {
    <div class="form-group">
      <label for="title">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="profesor.nombre"
        name="title"
      />
    </div>

   

    <span class="badge bg-secondary"  routerLink="/profesor">Volver</span>


    <button (click)="guardarProfesor()" class="btn btn-success">Guardar</button>




    } @else {
    <h4>Se guardo el Profesor Exitosamente!</h4>
    <button class="btn btn-success" (click)="newTutorial()">Nuevo</button>
    }
  </div>
</div>
